@using ElevPlan_Web_API.Models
@using ElevPlan_Web_API.Services
@{
    Layout = null;

    List<Student> students = StudentRepository.Instance.GetAllStudents();

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table>
        </table>
    </div>
</body>
</html>
